:root {
    --primary-color: #00AD79;
    --primary-text-color: #ffffff;
    --bg-color: #0D131A;
    --text-color: #f1f1f3;
    --link-color: #f1f1f3;
    --heading-color: #f1f1f3;
    --border-color: #d1d5da;
    --block-bg: #1e202d;
  }