# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
academy-ui/yarn-error.log

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
academy-ui/next-env.d.ts

*.iml
.idea
.vscode

academy-ui/.env
data

# ai agent
dodao-ai-agents/ai-agent-langgraph/.env
dodao-ai-agents/ai-agent-langgraph/__pycache__
dodao-ai-agents/langgraph-poetry/langgraph_poetry/.env

# Sentry Config File
academy-ui/.sentryclirc
.envrc
dodao-lambdas/unzipper-service/node_modules
dodao-lambdas/unzipper-service/.env
dodao-lambdas/unzipper-service/yarn-error.log
dodao-lambdas/unzipper-service/.serverless
dodao-lambdas/pull-tweets/.env
dodao-lambdas/pull-tweets/accounts.db
dodao-lambdas/pull-tweets/*.iml
dodao-lambdas/pull-tweets/node_modules
dodao-lambdas/pull-tweets/.serverless
dodao-lambdas/pull-tweets/.chalice


clickable-demos/node_modules
venv/
out/
shared/pull-tweets/accounts.db
shared/pull-tweets/.env
