# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
academy-ui/yarn-error.log

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
academy-ui/next-env.d.ts

*.iml
.idea
.vscode

academy-ui/.env
data

# langgraph ai agent
ai-agents/langgraph-poetry/cf_analysis_agent/.env

# Sentry Config File
academy-ui/.sentryclirc
.envrc
lambdas/unzipper-service/node_modules
lambdas/unzipper-service/.env
lambdas/unzipper-service/yarn-error.log
lambdas/unzipper-service/.serverless
lambdas/pull-tweets/.env
lambdas/pull-tweets/accounts.db
lambdas/pull-tweets/*.iml
lambdas/pull-tweets/node_modules
lambdas/pull-tweets/.serverless
lambdas/pull-tweets/.chalice

ai-agents/crew_ai_agent/.venv
ai-agents/crew_ai_agent/.env
ai-agents/crew_ai_agent/src/crew_ai_agent/__pycache__/
ai-agents/crew_ai_agent/src/crew_ai_agent/tools/__pycache__/
ai-agents/crowd-fund-analysis/cf_analysis_agent/.env

clickable-demos/node_modules
venv/
out/
shared/pull-tweets/accounts.db
shared/pull-tweets/.env

ai-agents/crowd-fund-analysis/terraform/.terraform.lock.hcl
ai-agents/crowd-fund-analysis/terraform/terraform.tfstate
ai-agents/crowd-fund-analysis/terraform/terraform.tfstate.backup
ai-agents/crowd-fund-analysis/terraform/terraform.tfvars
ai-agents/crowd-fund-analysis/terraform/.terraform/providers/
