.tidbitIconSpan {
  background-color: var(--primary-color);
}

.openInPopupIcon {
  color: var(--primary-color);
}

.playVideoIcon {
  color: var(--primary-color);
}

.cardDiv {
  background-color: var(--bg-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

.headingColor {
  color: var(--heading-color);
}

.archiveBadge {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.archiveBadge:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}