.styledLink {
  color: var(--primary-color);
  cursor: pointer;
}

.timelineCard {
  background-color: var(--block-bg);
}


.dynamicUnderline {
  background: linear-gradient(to right, var(--primary-color), #EEE);
}
