.FeedbackOptionDiv {
  :hover {
    border-color: var(--bg-color);
    background-color: var(--primary-color);
  }
}

.ModalHeading {
  color: var(--heading-color);
}

.TextArea {
  border-color: var(--border-color);
}
.TextArea:focus {
  border-color: var(--primary-color);
}
