.dialogMargin {
  margin-top: 0 !important;
}

.modalContainer {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.modalTitle {
  background-color: var(--block-bg);
  color: var(--heading-color);
}
