

.styledByteCard {
  background-color: var(--block-bg);
  min-height: calc(100vh - 104px);

    @media screen and (max-width: 768px) {
        min-width: 100vw;
    }

  min-width: calc(768px - 4rem);
}
