.hintIconWrapper {
  cursor: pointer;
}

.selectedBorderColor {
  border: 3px solid var(--primary-color);
}

.activeBorderColor {
  border: 2px solid var(--primary-color);
}

.backgroundColor {
  background-color: var(--bg-color);
}
