.stepContent {
  @media (min-width: 976px) {
    .previous-text {
      display: none;
    }
  }
}

.styledH1 {
  color: var(--heading-color);
}

.stepContainer {
  min-height: calc(100vh - 104px);
}

