.byteContainer {
  min-height: calc(100vh - 200px);
}

.styledByteCard {
  background-color: var(--bg-color);
  border-radius: 10px;
  @media screen and (min-width: 767px) {
    min-width: 647px;
    max-width: 647px;
  }
}

.styledCarouselByteCard {
  background-color: var(--block-bg);
  border-radius: 10px;
}
