.tidbitIconSpan {
  background-color: var(--primary-color);
}

.openInPopupIcon {
  color: var(--primary-color);
}

.cardDiv {
  background-color: var(--bg-color);
  border-color: var(--border-color);
}

.headingColor {
  color: var(--heading-color);
}
