#byte-view-swiper {
  &.swiper {
    .swiper-wrapper {
      display: flex;
      align-items: center;
    }

    width: 100vw;
  }

  &.swiper-vertical {
    .swiper-button-next,
    .swiper-button-prev {
      left: 50%;
      transform: rotate(90deg);
      transform-origin: left center;
    }

    .swiper-button-prev {
      top: 10px;
    }

    .swiper-button-next {
      top: auto;
      bottom: 10px;
    }
  }

  .swiper-pagination {
    position: fixed; /* Keeps pagination block fixed */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    @media (min-width: $screen-lg) {
      max-width: calc(15%);
      width: 15%;
    }
  }

  .custom-swiper-bullet {


    .swiper-pagination-custom-text {
      display: none;
      text-align: right;

      @media (min-width: $screen-lg) {
        display: block;
      }

      &.completed {
        text-decoration: line-through;
        color: white;
      }
    }

    .swiper-pagination-bullet {
      min-width: 24px;
      min-height: 24px;

      &.completed {
        background-color: #0da213;
        color: white;
        opacity: 1;
      }
    }
  }

}
