.optimism-theme {
  --primary-color: #ff0420;
  --bg-color: #1e1313;
  --text-color: #f1f1f3;
  --link-color: #f1f1f3;
  --heading-color: #f1f1f3;
  --border-color: #fb9191;
  --header-bg: #1e1313;
  --block-bg: #241313;
}
