@import 'styles/variables';
@import 'styles/theme-styles';
@import 'styles/scrollbar';

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  //--shadow-*: initial;
  --shadow-sm: 0 2px 6px rgb(15 23 42 / 0.08);
  --shadow-md: 0 8px 8px rgb(15 23 42 / 0.05), 0 3px 6px rgb(15 23 42 / 0.05);
  --shadow-lg: 0 8px 15px rgb(15 23 42 / 0.08), 0 3px 6px rgb(15 23 42 / 0.08);
  --shadow-xl: 2px 11px 16px rgb(15 23 42 / 0.17),
  0 1px 6px rgb(15 23 42 / 0.17), 3px 23px 24px rgb(15 23 42 / 0.17);

  //--text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 2rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.375rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.5rem;
  --text-3xl--line-height: 2rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3.5rem;
  --text-5xl--line-height: 1;
  --text-6xl: 4rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --radius-4xl: 2rem;
  --radius-5xl: 3rem;
  --radius-6xl: 5rem;

  --font-sans: var(--font-inter);
  --font-display: Cabinet Grotesk, ui-sans-serif, system-ui, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


body {
  font-family: 'Inter', sans-serif;
}

.markdown > * {
  all: revert;
}

.markdown table {
  all: unset; /* Exclude tables from 'revert' */
}
