@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'styles/variables';
@import 'styles/theme-styles';
@import 'styles/scrollbar';

@import "styles/markdown";

body {
  font-family: 'Inter', sans-serif;
}

.markdown > * {
  all: revert;
}

.markdown table {
  all: unset; /* Exclude tables from 'revert' */
}
