.accordionContainer {
  border: 1px solid var(--border-color);
  &:hover {
    border: 1px solid var(--primary-color);
  }
  &.isOpened {
    border: 2px solid var(--primary-color);
    &:hover {
      border: 2px solid var(--primary-color);
    }
  }
  &.error {
    border: 2px solid #d32f2f;

    &:hover {
      border: 2px solid #d32f2f;
    }
  }
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.error {
  border: 2px solid #d32f2f;
}
