#byte-view-swiper {
  &.swiper {
    .swiper-wrapper {
      display: flex;
      align-items: center;
    }

    width: 100vw;
  }

  &.swiper-vertical {
    .swiper-button-next,
    .swiper-button-prev {
      left: 50%;
      transform: rotate(90deg);
      transform-origin: left center;
    }

    .swiper-button-prev {
      top: 10px;
    }

    .swiper-button-next {
      top: auto;
      bottom: 10px;
    }
  }

  .swiper-pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .swiper-pagination-vertical {
    background-color: var(--block-bg);
    max-width: calc(10% + 20px);
    overflow: scroll !important;
    max-height: calc(100vh - 400px);
    height: 400px;
  }

  .custom-swiper-bullet {


    .swiper-pagination-custom-text {
      display: none;
      @media (min-width: $screen-lg) {
        display: block;
      }

      &.completed {
        text-decoration: line-through;
        color: white;
      }
    }

    .swiper-pagination-bullet {
      &.completed {
        background-color: #0da213;
        color: white;
        opacity: 1;
      }
    }
  }

}
