.text-color {
  color: var(--text-color);
}

.heading-color {
  color: var(--heading-color);
}

.primary-text-color {
  color: var(--primary-color);
}

.primary-color {
  color: var(--primary-color);
}

.link-color {
  color: var(--link-color);
}

.background-color {
  background-color: var(--bg-color);
}

.block-bg-color {
  background-color: var(--block-bg);
}

.block-bg-color:hover {
  background-color: var(--block-bg);
}

.border-color {
  border-color: var(--border-color);
}
