.uploadWrapper {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.styledInput {
  background-color: var(--bg-color);
  border-color: var(--primary-color) !important;
  color: var(--text-color);

  &:focus {
    box-shadow: 0 0 0 2px var(--primary-color) !important;
  }
}

.buttonColorToggle {
  background-color: var(--text-color);
  color: var(--primary-color);
  
  &:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
}