.styledLink {
  color: var(--primary-color);
  cursor: pointer;
}

.timelineCard {
  background-color: var(--block-bg);
}

.timeColor {
  color: var(--primary-color);
}

.normalfont {
  font-style: normal;
}

.normalfont * {
  font-style: normal;
}
