.styledInput {
  background-color: var(--bg-color);
  border: none;
  color: var(--text-color);

  &:focus {
    box-shadow: 0 0 0 2px var(--primary-color);
  }

  &.error {
    border: 1px solid red;

    &:focus {
      box-shadow: 0 0 0 2px red;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: linear-gradient(0deg, rgba(127, 127, 127, 0.2), rgba(127, 127, 127, 0.2)), var(--bg-color);
  }
}
