
    #bottom-bar, #bottom-bar * {
      font-family: Arial, sans-serif;
    }
    #bottom-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #343a40; 
      color: #ffffff;
      display: flex;
      justify-content: space-between; 
      align-items: center; 
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
      z-index: 2147483647; 
      padding: 0 20px; 
    }
    #bottom-bar .demo-name {
      flex-grow: 1;
      font-size:24px;
      font-weight: bold; 
      line-height: 70px; 
    }
    #bottom-bar button {
      padding: 10px 20px;
      font-size: 24px;
      border: none;
      background-color: #007bff; 
      color: #fff;
      cursor: pointer;
      border-radius: 5px; 
      transition: background-color 0.3s;
    }
    #bottom-bar button.save-button {
      background-color: #32CD32;
    }
    #bottom-bar button.save-button:hover {
      background-color: #228B22;
    }
    #bottom-bar button:hover {
      background-color: #0056b3; 
    }
  