.byteContainer {
  min-height: calc(100vh - 100px);
}

.styledByteCard {
  background-color: var(--bg-color);
  @media screen and (min-width: 767px) {
    min-width: 767px;
    max-width: 767px;
  }
}


.styledCarouselByteCard {
  background-color: var(--block-bg);
}
