.byteContainer {
  min-height: calc(100vh - 54px);
}

.styledByteCard {
  @media screen and (min-width: 767px) {
    background-color: var(--block-bg);
    min-width: 767px;
    max-width: 767px;
  }
  min-height: calc(100vh - 104px);
}
