.stepIndicatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  
  .stepDot {
    width: 25px;
    height: 3px;
    background-color: #ccc;
  }
  
  .activeStepDot {
    background-color: #4caf50;
  }
  