.stepContent {
  @media (min-width: 976px) {
    .previous-text {
      display: none;
    }
  }
}

.styledH1 {
  color: var(--heading-color);
}

.byteImage {
  max-width: 400px;
  max-height: 400px;
}
