.stepContent {
  @media (min-width: 976px) {
    .previous-text {
      display: none;
    }
    border-radius: 0.5rem;
  }
}

.styledH1 {
  color: var(--heading-color);
}


.byteStepWrapper {
  min-height: calc(100vh - 300px);
}

.byteImage {
  max-width: 400px;
  max-height: 400px;
}
