.stepIndicatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.stepDot {
  width: 55px;
  height: 5px;
  background-color: #ccc;
}

.activeStepDot {
  background-color: #4caf50;
}
