.swiperSlides {
  color: var(--text-color);
  height: calc(100vh - 108px);
}


.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 100%;

  @media (min-width: $screen-md) {
    width: 80%;
    max-width: $screen-lg; // Large tablet
  }
}


@media (min-width: $screen-md) {
  .swiperSlide.full-screen-image {
    max-width: 80%;
  }
}

.swiper-button-custom-next {
  top: auto;
  bottom: 10px;

  transform: rotate(90deg);
  transform-origin: left center;

  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
