.swiperSlides {
  color: var(--text-color);
  height: calc(100vh - 108px);
}


.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 100%;

  @media (min-width: 768px) {
    width: 80%;
    max-width: 768px;

    .full-screen-image {
      width: 100%;
    }
  }
}
