
.imgContainer {
  border: 1px solid;
  border-color: var(--border-color);
  box-shadow: 0 1px 1px var(--primary-color);
}

.fullScreenContent {
  color: var(--text-color);
  max-height: calc(100vh - 300px);
  width: calc(100vw - 100px);
}
